name: "Build Tauri Windows"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (windows only)
        if: matrix.platform == 'windows-latest'
        run: |
          vcpkg install openssl
          vcpkg integrate install

      - name: install frontend dependencies
        working-directory: apps/arboria-v3
        run: npm install

      - name: build tauri app
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: apps/arboria-v3
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION__ with the app version
          releaseName: "Arboria v__VERSION__"
          releaseBody: "See the assets to download this version and install."
          releaseDraft: true
          prerelease: false
